{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}


{% form_theme form 'bootstrap_5_layout.html.twig' %}

{# {{ form_start(form) }} #}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_row(form.addPicture, {'help':'Ajouter une image.', 'label': "Ajout d'une picture"}) }}

{{ form_widget(form._token) }}

<button class="btn btn-primary">
	{{ button_label|default('Ajouter une image') }}
</button>
{{ form_end(form, {render_rest: false}) }}
