{% extends 'base.html.twig' %}

{% block title %}Edit Picture {% endblock %}

{% block body %}
    <h1>Modifier la picture "{{picture.pictureFileName}} </h1>
    
    {% if app.user %}
        <img class="card-img-top" src="{{ asset('/pictures/contributions/'~picture.pictureFileName) }}" alt="{{ picture.alt }}">

        {{ include('picture/_form.html.twig', {'button_label': 'Modifier'}) }}
        
        {# {% if app.user is same as picture.trick.user %} #}   
            <div class="btn-group" role="group" aria-label="gestion du trick">
                <a href="{{ path('trick_show', {'slug': picture.trick.slug}) }}"><i class="btn btn-success btn-sm bi bi-eye-fill"></i></a>
                {# <a href="{{ path('picture_index') }}">back to list</a> #}
                {# {{ include('picture/_delete_form.html.twig') }} #}
            </div>
        {# {% endif %} #}
    {% else %}
			<p>Pour accéder a cette page et <strong>modifier</strong> un trick vous devez être identifier.</p>
			<p>Si vous avez déjà un compte utilisateur sur notre site alors
				<a href="{{path('app_login')}}">identifiez vous</a>
				sinon
				<a href="{{path('app_register')}}">creer un compte</a>
				dés maintenant.
			</p>
			<p><a href="{{ path('home') }}" class="btn btn-success">Retourner à la page d'accueil</a></p>
	{% endif %}
{% endblock %}
