{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{title}}</h1>

	{% for message in app.flashes('success') %}
		<div class="alert alert-success" role="alert">{{ message }}</div>
	{% endfor %}

	{# addition of a flash message by tchenio nicolas  #}
	{% for message in app.flashes('accountToCreate') %}
		<div class="alert alert-success" role="alert">{{ message }}</div>
	{% endfor %}
	{# end of addition of a flash message by tchenio nicolas  #}

	<img src="http://placehold.it/800X300 " alt="image de teste" class="PromotePicture">
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At iure quam ab aliquam quis facilis dolore sunt culpa ea, numquam eveniet sequi tempore voluptatem inventore et earum rem expedita sit.</p>
	<p>Est necessitatibus obcaecati asperiores doloremque vitae et dolorum assumenda tenetur officia. Debitis neque repellendus rerum quaerat eligendi voluptas nulla sunt necessitatibus blanditiis placeat, fugit nemo id accusamus alias possimus numquam!</p>

	<section class="tricks">

		{% for trick in tricks %}
			<article>
				<h2>{{trick.name}}</h2>
				<div class="content">
					{% if trick.pictures is not empty %}
						<img src="{{ asset('/pictures/'~trick.pictures|first.pictureFileName) }}" alt="image du trick">
						{# pour image avec url #}
						{# <img src="{{ trick.pictures|first.pictureFileName }}" alt="image du trick"> #}
					{% else %}
						<img src="http://placehold.it/350X150 " alt="no image du trick">
					{% endif %}
					<p>{{ trick.description }}</p>
					<a href="{{path('trick_show', {'id': trick.id})}}" class="btn btn-primary">voir le trick</a>
				</div>
			</article>
		{% endfor %}
	</section>

	{# pagination of tricks #}
	{% set pages = (numberTrickTotal/numberTrickPage) | round(0, 'ceil') %}
	<nav aria-label="paginationTrick">
		<ul class="pagination justify-content-center">
			<li class="page-item">
				<a class="page-link" href="?pageTrick=1">Début</a>
			</li>

			<li class="page-item {{ (pageTrick == 1) ? 'disabled' : '' }}">
				<a class="page-link" href="{{ (pageTrick > 1) ? '?pageTrick=' ~ (pageTrick-1) : '' }}" tabindex="-1" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			{% for result in 1..pages %}
				<li class="page-item {{ (pageTrick == result) ? 'active' : '' }}">
					<a class="page-link" href="{{path("home",{pageTrick:result})}}">{{ result }}</a>
				</li>
			{% endfor %}
			<li class="page-item {{ (pageTrick == pages) ? 'disabled' : '' }}">
				<a class="page-link" href="{{ (pageTrick < pages) ? '?pageTrick=' ~ (pageTrick+1) : '' }}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="?pageTrick={{pages}}">Fin</a>
			</li>
		</ul>
	</nav>
{% endblock %}