{% extends 'base.html.twig' %}

{% block body %}
	
	{# flash message #}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success" role="alert">{{ message }}</div>
	{% endfor %}

	{% for message in app.flashes('accountToCreate') %}
		<div class="alert alert-success" role="alert">{{ message }}</div>
	{% endfor %}

	<div class="homePicture">
		<div class="container">
			<span class="slogan"><p class="slogan-p">{{title}}</p></span>
		</div>
		<a href="#tricks"><i class="bi bi-arrow-down-circle-fill"></i></a>
	</div>
	
	<div class="container p-3" id="tricks">
		<section class="tricks">
			<div class="row" id="zoneTricks"> {# id  for the loader #}
				{% for trick in tricks %}
					<div class="col-sm-4">
						<div class="card">	
							{% if trick.pictures is not empty %}
								<img class="card-img-top" src="{{ asset('/pictures/contributions/'~trick.pictures|first.pictureFileName) }}" alt="{{ trick.pictures|first.alt }}">
							{% else %}
								<img class="card-img-top" src="{{ asset('/pictures/site/no_picture.jpg') }}" alt="noPicture">
							{% endif %}
							<div class="card-body">
								<h5 class="card-title"><a href="{{path('trick_show', {'slug': trick.slug})}}">{{trick.name}}</a></h5>
								
								{% if app.user is same as trick.user %}
									<div class="btn-group" role="group" aria-label="gestion du trick">
										<a href="{{ path('trick_show', {'slug': trick.slug}) }}"><i class="btn btn-success btn-sm bi bi-eye-fill"></i></a>
										<a href="{{ path('trick_edit', {'id': trick.id}) }}"><i class="btn btn-warning btn-sm bi bi-pencil-fill"></i></a>
										{{ include('trick/_delete_form.html.twig') }}
									</div>
								{% endif %}

								<p class="card-text">{{ trick.description | u.truncate(100, '...')}}</p>

							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			{# ----------------FOR THE LOADER----------------- #}
				{# bouton loader #}
				<div>
					<div class="text-center">
					{# <div class="row justify-content-center m-3"> #}
						<a href="{{ path('loadTricks') }}" id="loadMoreTrick"><i class="fas fa-plus-circle fa-3x"></i></a>
					</div>
				</div>
				{# ----------------END FOR THE LOADER----------------- #}
		</section>

		{# pagination of tricks #}
		{# {% set pages = (numberTrickTotal/numberTrickPage) | round(0, 'ceil') %}
		<nav aria-label="paginationTrick">
			<ul class="pagination justify-content-center">
				<li class="page-item">
					<a class="page-link" href="?pageTrick=1">Début</a>
				</li>

				<li class="page-item {{ (pageTrick == 1) ? 'disabled' : '' }}">
					<a class="page-link" href="{{ (pageTrick > 1) ? '?pageTrick=' ~ (pageTrick-1) : '' }}" tabindex="-1" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% for result in 1..pages %}
					<li class="page-item {{ (pageTrick == result) ? 'active' : '' }}">
						<a class="page-link" href="{{path("home",{pageTrick:result})}}">{{ result }}</a>
					</li>
				{% endfor %}
				<li class="page-item {{ (pageTrick == pages) ? 'disabled' : '' }}">
					<a class="page-link" href="{{ (pageTrick < pages) ? '?pageTrick=' ~ (pageTrick+1) : '' }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="?pageTrick={{pages}}">Fin</a>
				</li>
			</ul>
		</nav> #}

	</div>
	
	<div class="arrowUp">
        <a href="#tricks">
            <a href="#tricks"><i class="bi bi-arrow-up-circle-fill"></i></a>
        </a>
    </div>
	
{% endblock %}

{# ----------------FOR THE LOADER-----------------  #}
{% block javascripts %}
    <script src="{{ asset('js/loaderTricks.js') }}"></script>
{% endblock %}