{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{title}}</h1>

	<section class="trick">
		<article>
			<h2>{{ trick.name}}</h2>
			<div class="content">
				{% if pictures is not empty %}
					{% for picture in pictures %}
						<img src="{{ asset('/pictures/'~picture.pictureFileName) }}" alt="image du trick">
					{# pour image avec url #}
						{# <img src="{{ picture.pictureFileName }}" alt="image du trick"> #}
					{% endfor %}
				{% else %}
					<img src="http://placehold.it/350X150 " alt="no image du trick">
				{% endif %}
				<p>
					{{ trick.description }}
				</p>
				<a href="{{path('home')}}" class="btn btn-primary">
					Retourner à l'accueil</a>
			</div>
		</article>
	</section>
{% endblock %}
