{% form_theme form 'bootstrap_5_layout.html.twig' %}

{{ form_start(form) }}
{{ form_row(form.name, {'attr':{'placeholder':"description du trick"}, 'label': "Nom"}) }}
{{ form_row(form.description, {'attr':{'placeholder':"description du trick"}}) }}
{{ form_row(form.pool, {'label': "Groupe de figure du trick"}) }}
{{ form_row(form.user, {'label': "Auteur"}) }}
{{ form_row(form.newPictures, {'help':'Selectionner plusieurs images en une seul fois si vous souhaiter rajouter plusieurs images au trick que vous créez.', 'label': "Ajout new picture"}) }}
{# check that the route is "trick_edit" to display the pictures #}
{% if app.request.attributes.get('_route') =='trick_edit' %}
	{{ form_label(form.pictures) }}
	{% for picture in form.pictures %}
		<div class="img_checkbox">
			{{form_widget(picture)}}
			<img src="/pictures/{{picture.vars.label}}"/>
		</div>
	{% endfor %}
{% endif %}
<button class="btn btn-primary">
	{{ button_label|default('Enregister') }}</button>
{# {{ form_end(form, {render_rest: false}) }} #}
{{ form_end(form) }}
