{% form_theme form 'bootstrap_5_layout.html.twig' %}

{{ form_start(form) }}
{{ form_row(form.name, {'attr':{'placeholder':"description du trick"}, 'label': "Nom"}) }}
{{ form_row(form.description, {'attr':{'placeholder':"description du trick"}}) }}
{{ form_row(form.pool, {'label': "Groupe de figure du trick"}) }}
{{ form_row(form.user, {'label': "Auteur"}) }}
{{ form_row(form.newPictures, {'help':'Selectionner plusieurs images en une seul fois si vous souhaiter rajouter plusieurs images au trick que vous créez.', 'label': "Ajout new picture"}) }}

{# ------------ #}

{# {{ form_row(form.pictures, {'label': "avec entity Picture"}) }} #}
{{ form_row(form.pictures, {'label': "avec collection type"}) }}

{# ------------ #}

{# <ul class="OldPictures" data-prototype="{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}"></ul>
<button type="button" class="add_item_link" data-collection-holder-class="OldPictures">Add a picture</button> #}


{# check that the route is "trick_edit" to display the pictures #}
{# {% if app.request.attributes.get('_route') =='trick_edit' %}
		<h2>Images du trick</h2>
		{% for picture in trick.pictures %}
			<img src="{{ asset('/pictures/'~picture.pictureFileName) }}" alt="" class="portraitPicture">
			<a href="{{path('trick_delete_picture', {id: picture.id})}}" data-delete data-token="{{ csrf_token('delete'~picture.id) }}">Suppimer</a>
		{% endfor %}
	{% endif %} #}{# fin ajot perso tchenio nicolas #} <button class="btn btn-primary">{{ button_label|default('Enregister') }}</button>
{{ form_end(form) }}
