{% extends 'base.html.twig' %}

{% block title %} Edit Trick {% endblock %}

{% block body %}
	<h1>Modifier un Trick</h1>

	{% if app.user %}
		{% if app.user is same as trick.user %}
			{{ include('trick/_form.html.twig', {'button_label': 'Modifier ce trick'}) }}
			<p>
				<a href="{{ path('trick_index') }}" class="btn btn-success">Retourner à l'administration des tricks</a>
				{{ include('trick/_delete_form.html.twig') }}
			</p>

		{% else %}
			<p>Vous ne pouvez pas accéder à cette page et <strong>modifier</strong> ce trick car vous n'en êtes <strong>l'auteur</strong>.</p>
			<p><a href="{{ path('trick_index') }}" class="btn btn-success">Retourner à l'administration des tricks</a></p>
		{% endif %}

	{% else %}
			<p>Pour accéder a cette page et <strong>modifier</strong> un trick vous devez être identifier.</p>
			<p>Si vous avez déjà un compte utilisateur sur notre site alors
				<a href="{{path('app_login')}}">identifiez vous</a>
				sinon
				<a href="{{path('app_register')}}">creer un compte</a>
				dés maintenant.
			</p>
			<p><a href="{{ path('home') }}" class="btn btn-success">Retourner à la page d'accueil</a></p>
	{% endif %}

{% endblock %}