{% extends 'base.html.twig' %}

{% block title %}Trick index
{% endblock %}

{% block body %}
	<h1>Trick index</h1>

	{# flash message for creating, editing or deleting a trick  #}
	{% for message in app.flashes('successTrickManagement') %}
		<div class="alert alert-success" role="alert">{{ message }}</div>
	{% endfor %}

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for trick in tricks %}

				{% if app.user is same as trick.user %}
				<tr>
					<td>{{ trick.id }}</td>
					<td>{{ trick.name }}</td>
					<td>{{ trick.description }}</td>
					<td>
						<div class="btn-group" role="group" aria-label="gestion du trick">
							<a href="{{ path('trick_show', {'slug': trick.slug}) }}"><i class="btn btn-success btn-sm bi bi-eye-fill"></i></a>
							{# <a href="{{ path('trick_show', {'slug': trick.slug}) }}" class="btn btn-success btn-sm">Voir le trick</a> #}
							{% if app.user is same as trick.user %}
								<a href="{{ path('trick_edit', {'id': trick.id}) }}"><i class="btn btn-warning btn-sm bi bi-pencil-fill"></i></a>
								{# <a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn btn-warning btn-sm">Modifier le trick</a> #}
								{{ include('trick/_delete_form.html.twig') }}
							{% endif %}
						</div>
					</td>
				</tr>
				{% endif %}
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<p><a href="{{ path('trick_new') }}" class="btn btn-success">Créer un nouveau trick</a></p>
	
{% endblock %}
